<!DOCTYPE html>
<html ng-app="webapp">
<head>
	<title>Lunchbus</title>
</head>
<body>
<h3>IOU</h3>
<div ng-controller="IouCtrl as iou">
	<ul>
		<li ng-repeat="entry in iou.entries">
			{{entry.debtor}} owes {{entry.creditor}}: {{entry.amount}}
			<button ng-click="iou.more(entry)">+</button>
			<button ng-click="iou.less(entry)">-</button>
		</li>
	</ul>
	<form name="iouForm" ng-submit="iou.addEntry()">
		<input type="text" ng-model="iou.debtor" ng-required="true">
		<label>owes: <input type="text" ng-model="iou.creditor" ng-required="true"></label>
		<button type="submit" ng-disabled="!iouForm.$valid">Add</button>
	</form>
</div>

<h3>People</h3>
<div ng-controller="PeopleCtrl as people">
	<ul>
		<li ng-repeat="p in people.people">
			<input type="checkbox" ng-model="p.active" ng-change="people.updateActive(p)">
			{{p.name}}:
			<tags route="'/app/people/addTag'" parent-name="p.name" tags="p.tags"></tags>
		</li>
	</ul>
	<form name="addPerson" ng-submit="people.addPerson()">
		<label>Add person: <input type="text" ng-model="people.name" ng-required="true"></label>
		<button type="submit" ng-disabled="!addPerson.$valid">Add</button>
	</form>
</div>

<h3>Places</h3>
<div ng-controller="PlacesCtrl as places">
	<ul>
		<li ng-repeat="p in places.places">
			<input type="checkbox" ng-model="p.active" ng-change="places.updateActive(p)">
			{{p.name}}:
			<tags route="'/app/places/addTag'" parent-name="p.name" tags="p.tags"></tags>
		</li>
	</ul>
	<form name="addPlace" ng-submit="places.addPlace()">
		<label>Add place: <input type="text" ng-model="places.name" ng-required="true"></label>
		<button type="submit" ng-disabled="!addPlace.$valid">Add</button>
	</form>
</div>

<div ng-controller="MessagesCtrl as ctrl">
	<h3>Messages:</h3>
	<ol id="messages">
		<li ng-repeat="m in ctrl.messages track by $index">{{m}}</li>
	</ol>
	<p ng-show="ctrl.date">The server's date is: {{ctrl.date}}</p>
</div>

<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1.11.2/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="MessagesCtrl.js"></script>
<script type="text/javascript" src="iouCtrl.js"></script>
<script type="text/javascript" src="mp.js"></script>
<script type="text/javascript" src="PeopleCtrl.js"></script>
<script type="text/javascript" src="PlacesCtrl.js"></script>
<script type="text/javascript" src="TagsComponent.js"></script>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>