body {
    padding-left: 12px;
}

ul.list-unstyled {
    margin-left: 1em;
}

li {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.chatTable {
    width: auto;
}

[ng-cloak] {
    display: none !important;
}

.tag {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.tag .remove {
    margin-left: 0.25em;
    color: black;
    font-size: 125%;
    cursor: pointer;
}
.tag .remove:hover {
    color: darkred;
}